<div *ngIf="show">
  <label for="genre">Genre:</label>

  <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
    <option [value]=""></option>
    <option [value]="genre" *ngFor="let genre of genres">
      {{ genre }}
    </option>
  </select>

  <label for="album">Album:</label>
  <input [(ngModel)]="currentArtist" (ngModelChange)="setArtist($event)" type="text" id="album" name="album" />
  <br />

  <label for="artist">Artist:</label>
  <input type="text" id="artist" name="artist" />
  <br />

  <label for="year">Year Range:</label>
  <select
    [(ngModel)]="selectedYear"
    (ngModelChange)="setYear($event)"
    id="year"
    name="year"
  >
    <option value="2010-2019">2010-2019</option>
    <option value="2000-2009">2000-2009</option>
    <option value="1990-1999">1990-1999</option>
    <option value="1980-1989">1980-1989</option>
    <option value="1970-1979">1970-1979</option>
  </select>
  <br />

  <label for="questions">Number of Questions:</label>
  <input [(ngModel)]="currentQuestions" (ngModelChange)="setQuestions($event)" type="number" id="questions" name="questions" min="2" max="50" />
  <br />

  <button (click)="onSubmit()">Start Game</button>
</div>
